[shard1]
type=server
address=shard1
port=3306
protocol=MariaDBBackend

[shard2]
type=server
address=shard2
port=3306
protocol=MariaDBBackend

[Sharded-Service]
type=service
router=schemarouter
servers=shard1,shard2
user=maxuser
password=maxpwd

[Sharded-Service-Listener]
type=listener
service=Sharded-Service
protocol=mariadbclient
port=4000

[MySQL-Monitor]
type=monitor
module=mariadbmon
servers=shard1,shard2
user=maxuser
password=maxpwd

